body {
  padding-top: 50px;
}
.starter-template {
  padding: 20px 15px;
  text-align: center;
}
hr {
  border: none;
  height: 1px;
  color: black; /* old IE */
  background-color:black; /* Modern Browsers */
}

.console {
  border:1px solid black;
  height:200px;
  overflow-y: auto;
}

.control {
  margin:20px;
}

.resources,.methods {
  width:200px;
}

.params label {
  /*display:block;*/
  /*clear:both;*/
  width:150px;
}

.params {
  margin-top:20px;
}

.centered {
  margin: auto;
  width:400px;
  /*width: 400px;*/
  /*height: 200px;*/
}

.show-button {
  //display:block;
  width:100px;
  //margin:20px;
  margin:auto;
}
.show-box {
  display:none;
  border:1px solid black;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width:50%;
}
.code-input-box {
  border:1px solid black;
  height:50px;
  overflow-y: auto;
}

.roundbutton {
  width: 15px;
  height: 15px;
  background-color: white;
  border: solid 1px #000;
  border-radius: 50%;
  vertical-align:middle;
}

.pin {
  width: 20px;
  height: 20px;
  border: solid 1px #000;
  border-radius: 50%;
  vertical-align:middle;
  font-size:12px;
  text-align:center;

}

.unpinned .pin {
  color:white;
  background-color: green;
}

.pinned .pin {
  color:white;
  background-color: red;
}

.list-of-scripts table th:first-child, .list-of-scripts td:first-child {
  width:200px;
}
.list-of-scripts table th:nth-child(2), .list-of-scripts td:nth-child(2) {
  width:400px;
}
a {
  cursor:pointer;
}

.container button:not(.roundbutton) {
  width:150px;
}

.recorded-results table th, .recorded-results td {
  width:300px;
}

.hide {
  display:none;
}

/*
credit: David Thomas
http://stackoverflow.com/questions/14423671/best-method-for-displaying-a-tree-list-using-css-only-no-images-or-js-example
*/
.recorded-results ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
.recorded-results li {
  list-style-type: none;
  border-left: 2px solid #000;
  margin-left: 1em;
}
.recorded-results li div {
  padding-left: 1em;
  position: relative;
}
.recorded-results li div::before {
  content:'';
  position: absolute;
  top: 0;
  left: -2px;
  bottom: 50%;
  width: 0.75em;
  border: 2px solid #000;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
}
.recorded-results ul > li:last-child {
  border-left: 2px solid transparent;
}

.error-msg {
  color:red;
}