body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
hr {
  border: none;
  height: 1px;
  color: black; /* old IE */
  background-color:black; /* Modern Browsers */
}

.console {
  border:1px solid black;
  height:200px;
  overflow-y: auto;
}

.control {
  margin:20px;
}

.resources,.methods {
  width:150px;
}

.params label {
  /*display:block;*/
  /*clear:both;*/
  width:100px;
}

.centered {
  margin: auto;
  width: 400px;
  /*height: 200px;*/
}

.go-button {
  width:100px;
  margin:20px;
}
.go-box {
  display:none;
}
